#challenge-guide
  :markdown
    # Предизвикателства

    Задачите, които ще ви даваме като предизвикателства имат за цел да са доста
    по-кратки от домашните. Поради тази причина дават и по-малко точки. За
    сметка на това, тези точки са "бонус", тоест не влизат в предвидения брой
    точки.

    Това значи, че ако накрая на семестъра имате 60 точки от домашни и 60 точки
    от изпит и сте направили 2 предизвикателства по 4 точки, ще имате 128
    точки, което е над максимума на скалата ни за оценяване. Няма да ви напишем
    "6+" в книжките, но може да ви кажем "браво" :).

    Предизвикателствата са добър начин да наваксате, ако сте сбъркали нещо с
    някое домашно или даже сте изпуснали някое. Но условията им са по-стриктни:

    * Всичко или нищо -- Или получавате точките от предизвикателството, или не.
      Вероятно ще има само един тест, но и да са повече, няма значение че само
      един се проваля. Тъй като задачите са кратки, очакваме да ги обмислите
      внимателно и да ги направите правилно. (Разбира се, няма да търсим "хитри"
      начини да ви прецакаме -- просто искаме да помислите за условието)

    * Не можем да коментираме по решенията ви, така че ако объркате нещо
      особено, вероятно няма да ви предупредим. Това е отчасти по технически
      причини (не е имплементирано коментирането на тези решения), отчасти не
      смятаме, че има голяма нужда. (Разбира се, можете да ни питате за детайли
      по условието, ще го допълваме ако не е ясно.)

    * Няма "базов тест", освен в някой по-специален случай. Ако не ви се
      компилира решението, не ви се компилира, какво да се прави.
