<script>
  (function () {
    var copyIcon = '<img src="<%= image_path("icons/copy.png") %>" />';
    var tickIcon = '<img src="<%= image_path("icons/tick.png") %>" />';

    var copyToClipboard = function(code) {
      // Create a temporary textarea whose contents we can "select" and copy using `execCommand`.
      let tempInput = document.createElement('textarea');
      let textNode = document.createTextNode(code);
      tempInput.appendChild(textNode);
      document.body.appendChild(tempInput);

      tempInput.select();
      document.execCommand('copy');
      document.body.removeChild(tempInput);
    };

    $('pre code').each(function() {
      var code = $(this).text();
      var $copyButton = $('<button class="copy-button">' + copyIcon + '</button>');
      var timeout = null;

      $(this).append($copyButton);

      $copyButton.on('click', function() {
        if (timeout) { cancelTimeout(timeout); }

        copyToClipboard(code);
        $copyButton.html(tickIcon);

        timeout = setTimeout(function() {
          $copyButton.html(copyIcon);
          timeout = null;
        }, 1000);
      });
    });
  })();
</script>
